<html >
    <head>
         <title>MAIN</title>
    </head>
    <body>
        <center>
        <h1>主页</h1>
        LOG IN
        <form action="/log" method="POST">A snake-eating game based on flask and microbit
            <input type="submit" name="press" value="登录">
        </form>
        SIGN UP
        <form action="/reg" method="POST">
            <input type="submit" name="press2" value="注册">
        </form>
        CHART
        <form action="/cha" method="POST">
            <input type="submit" name="press3" value="排行">
        </form>
        </form>
        SETTING
        <form action="/set" method="POST">
            <input type="submit" name="press4" value="设置">
        </form>
        </center>
    </body>
    </html>